/*  custom CSS for ../composingprograms.html

    always include this file AFTER pytutor.css
*/

div.ExecutionVisualizer table#pyCodeOutput {
  font-size:11pt;
  white-space: nowrap;
}

div.ExecutionVisualizer div.stackFrame,
div.ExecutionVisualizer div.zombieStackFrame {
  white-space: nowrap;
}

div.ExecutionVisualizer div.zombieStackFrame {
  color: #808080;
}

/* make the left bars thicker and darker */
div.ExecutionVisualizer div.stackFrame,
div.ExecutionVisualizer div.highlightedStackFrame {
  border-left: 2px solid #686f70;
}

