/* CSS accompanying ../index.html */

body {
  background-color: white;

  line-height: 1.5;  /* slightly more than single spacing, for prose text */
  font-family: Georgia, Palatino, Times, serif;

  font-size: 12pt;

  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 8px;
}

.smallH1 {
  font-size: 14pt;
}


.titlePane {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
}

.titlePane h1 {
  font-size: 22pt;
  margin-bottom: 5px;
}

div.mainBodyPane {
  margin-left: auto;
  margin-right: auto;
}

div.activityPane {
  /* TOP RIGHT BOTTOM LEFT */
  padding: 15px 0px /* make right padding ZERO and just right-pad 'p' */ 5px 20px;
  text-align: left;
  border: 3px solid #005583;
}

div.activityPane p {
  padding-right: 30px;
}

div.activityPane h1 {
  font-size: 22pt;
  margin-bottom: 20pt;
}


ul {
  padding-left: 18px;
}

li {
  margin-bottom: 8px;
  font-size: 10pt;
}

a,
a:visited,
a:hover {
  color: #3D58A2;
}

div#learnPane {
  margin-bottom: 10pt;
}

div#learnPane p {
  padding-right: 100px;
}

div#learnPane h3 {
  font-size: 17pt;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 10px;
}

tt {
  /*font-size: 85%;*/
}

div#embedPane {
  margin-right: 5px;
}

div#sharePane {
  margin-left: 5px;
}

div#detailsPane {
  margin-top: 0px;
  margin-left: 5px;
  border: 0px; /* NO BORDER! */
}

table.layoutTbl {
  border: 0px;
  max-width: 900px;
}

table.layoutTbl td {
  vertical-align: top;
}

table.layoutTbl td#embedPaneTd {
  width: 60%;
}

table.layoutTbl td#sharePaneTd {
  width: 40%;
}


#footer {
  color: #666666;
  font-size: 9pt;
  border-top: 1px solid #bbbbbb;
  padding-top: 0px;
  margin-top: 10px;

  /* center align */
  margin-left: auto;
  margin-right: auto;

  font-family: verdana, arial, helvetica, sans-serif;
}
