ld-linux-x86-64.so.2
libc.so.6
libdl.so.2
libjava.so
libjli.so
libjvm.so
libm.so.6
libnsl.so.1
libnss_compat.so.2
libnss_dns.so.2
libnss_files.so.2
libnss_nis.so.2
libpthread.so.0
libresolv.so.2
librt.so.1
